.topnav {
    background-color:#8b0b67;
    overflow: hidden;
   
    }
    .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    }

    .topnav a:hover {
    background-color: #ddd;
    color: black;
    }
    .topnav a.active {
    background-color: violet;
    color: white;
    }

body {
    font-family: Arial;
    padding: 20px;
    background: #f1f1f1;
  }
  

  .header {
    padding: 20px;
    font-size: 30px;
    text-align: center;
    background-color:grey;
  }
  
  
  .leftcolumn {
    float: left;
    width: 75%;
  }
  p,pre{
      font-size: large;
      font-family:VSerdana;
  }
  
 
  #i{
      color:rgb(0, 4, 255);
  }
  

  .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
  }
  
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background:grey;
    margin-top: 20px;
  }
  
  
  }